theme "catppuccin-macchiato"
rounded_corners true

keybinds {
    normal {
        unbind "Ctrl o"
        bind "Ctrl Space" { SwitchToMode "Session"; }
    }
    session {
        bind "Ctrl Space" { SwitchToMode "Normal"; }
    }
    // normal {
    //     unbind "Ctrl s"
    //     bind "Alt s" { SwitchToMode "Scroll"; }
    // }
    // scroll {
    //     bind "Alt s" { SwitchToMode "Normal"; }
    // } 
    shared_except "locked" {
        bind "Ctrl h" {
            MessagePlugin "https://github.com/hiasr/vim-zellij-navigator/releases/download/0.1.0/vim-zellij-navigator.wasm" {
                name "move_focus_or_tab";
                payload "left";
                move_mod "ctrl";
            };
        }
        bind "Ctrl j" {
            MessagePlugin "https://github.com/hiasr/vim-zellij-navigator/releases/download/0.1.0/vim-zellij-navigator.wasm" {
                name "move_focus";
                payload "down";
                move_mod "ctrl";
            };
        }
        bind "Ctrl k" {
            MessagePlugin "https://github.com/hiasr/vim-zellij-navigator/releases/download/0.1.0/vim-zellij-navigator.wasm" {
                name "move_focus";
                payload "up";
                move_mod "ctrl";
            };
        }
        bind "Ctrl l" {
            MessagePlugin "https://github.com/hiasr/vim-zellij-navigator/releases/download/0.1.0/vim-zellij-navigator.wasm" {
                name "move_focus_or_tab";
                payload "right";
                move_mod "ctrl";
            };
        }
        bind "Alt h" {
            MessagePlugin "https://github.com/hiasr/vim-zellij-navigator/releases/download/0.1.0/vim-zellij-navigator.wasm" {
                name "resize";
                payload "left";
                resize_mod "alt";
            };
        }
        bind "Alt j" {
            MessagePlugin "https://github.com/hiasr/vim-zellij-navigator/releases/download/0.1.0/vim-zellij-navigator.wasm" {
                name "resize";
                payload "down";
                resize_mod "alt";
            };
        }
        bind "Alt k" {
            MessagePlugin "https://github.com/hiasr/vim-zellij-navigator/releases/download/0.1.0/vim-zellij-navigator.wasm" {
                name "resize";
                payload "up";
                resize_mod "alt";
            };
        }
        bind "Alt l" {
            MessagePlugin "https://github.com/hiasr/vim-zellij-navigator/releases/download/0.1.0/vim-zellij-navigator.wasm" {
                name "resize";
                payload "right";
                resize_mod "alt";
            };
        }
        bind "Alt Left"  { GoToPreviousTab; }
        bind "Alt Right" { GoToNextTab; }
    }
}
